---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta name="Highway Car Breakdowns - Changelog" description="Changelog for Highway Car Breakdowns mod for My Summer Car" tag="My Summer Car mods, Highway Car Breakdowns, changelog, version 1.2.0, oil filter breakdown reason, UI for repair items, toggleable UI in mod settings, random inspection time, open-sourced, version 1.1.0, new breakdown reasons, NPC fixes, better payment system, spawn multiplier, improved item giving, version 1.0.1, critical bug fix, version 1.0, initial release, Akatsuki, email: akatsuki2555@waifu.club" />
        <Ads />
    <Cursor client:load />
</head>
    <body>
        <Header />
        <main>
            <h1>Highway Car Breakdowns - Changelog</h1>
            <p>
                <a href="/project/highwaycarbreakdowns"
                    ><button>Go back to mod</button>
                </a>
            </p>

            <h2>Version 1.2.0</h2>
            <ul>
                <li>Added oil filter breakdown reason</li>
                <li>
                    Added a UI showing what items you need to get for repair
                </li>
                <li>The UI can be toggled inside the mod settings</li>
                <li>The inspection time is now random</li>
                <li>
                    Made mod open-sourced, as updates are not planned for now
                </li>
            </ul>
            <h2>Version 1.1.0</h2>
            <ul>
                <li>2 new breakdown reasons</li>
                <li>Fixes for NPC straightness (I made him gay /jk)</li>
                <li>Better payment receiving system</li>
                <li>Spawn multiplier</li>
                <li>Added a better way of giving items to the NPC</li>
            </ul>
            <h2>Version 1.0.1</h2>
            <ul>
                <li>
                    Fix a critical bug where you couldn't interact with the NPC
                </li>
            </ul>
            <h2>Version 1.0</h2>
            <ul>
                <li>Initial release</li>
            </ul>
        </main>
        <Footer />
    </body>
</html>
