---
import "@styles/global.module.css";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import Meta from "@components/meta.astro";
import Tabs from "@components/Tabs.astro";
import Tab from "@components/Tab.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="Velkonya | Minecraft"
            description="Velkonya: An Expanding City Project in VelkySMP is a thriving virtual metropolis built by the talented Akatsuki. With its continuous growth, Velkonya currently boasts 26 unique houses, a comfortable apartment complex, an informative visits board, and a vibrant Japanese board, highlighting the diverse cultural influences within the VelkySMP server."
        />
    </head>
    <body>
        <Header />
        <main>
            <h1>Velkonya</h1>
            <Tabs>
                <Tab href="/project/velkonya" selected>Main</Tab>
                <Tab href="/project/velkonya/media">Media</Tab>
            </Tabs>
            <h2>A Growing Metropolis</h2>
            <p>
                Velkonya has experienced continuous growth, currently boasting
                26 unique houses, each with its distinct design and charm. These
                houses contribute to the city's diverse architecture, making
                Velkonya a visually intriguing virtual destination.
            </p>

            <h2>Visitor-Friendly Features</h2>
            <p>
                The city caters to visitors with its comfortable apartment
                complex, offering temporary lodging for travelers exploring
                Velkonya. Additionally, the informative visits board keeps both
                residents and visitors updated on the latest city news and
                events, fostering a sense of community and engagement.
            </p>

            <h2>Cultural Influences</h2>
            <p>
                The vibrant Japanese board within Velkonya showcases the city's
                appreciation for diverse cultural influences. This unique
                feature highlights the power of virtual spaces to blend and
                celebrate various cultural aspects, enriching the gaming
                experience for players worldwide.
            </p>

            <p>
                As Velkonya continues to expand and evolve, its success serves
                as a testament to the creativity and collaboration that drive
                the VelkySMP server. With its captivating blend of architectural
                designs and visitor-friendly features, Velkonya is a must-visit
                destination for gamers seeking an immersive and culturally
                diverse virtual experience.
            </p>
        </main>
        <Footer />
    </body>
</html>
