---
import "@styles/global.module.css";
export const name = "Asphalt Roads is getting replaced";
export const description = "Asphalt Roads is getting replaced with a new mod, Road Changer.";
export const date = "2024-05-14";

import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Scripts from "@components/scripts.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="Asphalt Roads is getting replaced"
            description="Asphalt Roads is getting replaced with a new mod, Road Changer."
            tag=""
        />
        <Scripts />
        <Cursor />
    </head>
    <body>
        <Header />
        <main>
            <h1>Asphalt Roads is being replaced</h1>
            <p>Yeah, Asphalt Roads is getting replaced. It has been a very long time that I last updated the mod and the reason was that I couldn't think of new content to add.</p>
            <p>Instead of releasing a new update for this mod that would be almost pointless, I've decided to refresh this mod. The new mod's name is road changer and it allows more.</p>
            <p>Instead of just allowing you to change asphalt roads, road changer allows more. It allows you to change every single road in the game, allowing you to change the highway into a dirt road to make the game harder.</p>
            <p>You can also make the game easier by changing every road into an asphalt road, including those going to houses.</p>
            <p>As always, the mod is open source on Codeberg from even before the release of the mod. </p>
        </main>
        <Footer />
    </body>
</html>
