---
import "@styles/global.module.css";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import Meta from "@components/meta.astro";
import Tabs from "@components/Tabs.astro";
import Tab from "@components/Tab.astro";
import Cursor from "@components/cursor.astro";
import Scripts from "@components/scripts.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="Velkonya | Minecraft"
            description="Velkonya: An Expanding City Project in VelkySMP is a thriving virtual metropolis built by the talented Akatsuki. With its continuous growth, Velkonya currently boasts 26 unique houses, a comfortable apartment complex, an informative visits board, and a vibrant Japanese board, highlighting the diverse cultural influences within the VelkySMP server."
        />
        <Scripts />
    <Cursor />
</head>
    <body>
        <Header />
        <main>
            <h1>Media of Velkonya</h1>
            <Tabs>
                <Tab href="/misc/velkonya" >Main</Tab>
                <Tab href="/misc/velkonya/media" selected>Media</Tab>
                <Tab href="/misc/velkonya/history">History Book</Tab>
                <Tab href="/misc/velkonya/visits">Visits Board</Tab>
                <Tab href="/misc/velkonya/join">How to join the server</Tab>
                <Tab href="/misc/velkonya/getahouse">How to get a house</Tab>
            </Tabs>

            <img src="/misc/velkonya/0.webp" alt="">
            <img src="/misc/velkonya/1.webp" alt="">
            <img src="/misc/velkonya/2.webp" alt="">
            <img src="/misc/velkonya/3.webp" alt="">
            <img src="/misc/velkonya/4.webp" alt="">
            <img src="/misc/velkonya/5.webp" alt="">
            <img src="/misc/velkonya/6.webp" alt="">
            <img src="/misc/velkonya/7.webp" alt="">
            <img src="/misc/velkonya/8.webp" alt="">
            <img src="/misc/velkonya/9.webp" alt="">
        </main>
        <Footer />
    </body>
</html>
