---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Asphalt Roads" description="Asphalt Roads Mod for My Summer Car" tag="my summer car, mod, asphalt roads, texture, grip, balance, settings, dirt race track, grandma's house, landfill, pathways, houses" />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Asphalt Roads Mod - My Summer Car</h1>
      <p>
        This mod for My Summer Car swaps the dirt roads for asphalt ones. It not
        only alters the texture of the roads but also her feel. The asphalt
        roads provide more grip, but she remain relatively bumpy for balance.
      </p>
      <p>
        The mod offers several settings. For example, it allows you to keep the
        dirt race track between the grandma's and the landfill untouched. This
        setting is enabled by default, along with maintaining the normal dirt
        roads. It also enables you to replace the pathways leading to the houses
        with asphalt.
      </p>
      <h2>Download</h2>
      <a href="https://www.nexusmods.com/mysummercar/mods/4177">
        <button>Download</button>
      </a>
      <a href="/discord">
        <button>Join my Discord server to discuss this project</button>
      </a>
    </main>
    <Footer />
  </body>
</html>
