---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Astolfo Forge Mod" description="Astolfo Forge Mod For Minecraft" tag="Astolfo Forge Mod, my summer car, mod, features, femboy biome, outfits, Astolfo flower, Felix, Astolfo sword, Hideri, Venti, Rimuru, Nagisa, Sieg, Bridget, commands, duplicate_cuties, cuteness, changelog, updates, version 1.2, version 1.1, version 1.0" />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Astolfo Forge Mod</h1>
      <h2>Feature list:</h2>
      <ul>
        <li>Femboy Biome</li>
        <li>Astolfo in 4 outfits</li>
        <li>Astolfo flower, which spawns a lot of Astolfo when destroyed</li>
        <li>Felix</li>
        <li>Astolfo Sword</li>
        <li>Hideri</li>
        <li>Venti</li>
        <li>Rimuru</li>
        <li>Nagisa</li>
        <li>Sieg</li>
        <li>Bridget 🏳️‍⚧️</li>
        <li>/duplicate_cuties command for more cuteness &lt;3</li>
      </ul>
      <h2>Changelog</h2>
      <h3>v1.2</h3>
      <ul>
        <li>Added Hideri</li>
        <li>Added Bridget</li>
        <li>Added Venti</li>
        <li>Added /cuterain</li>
        <li>Added /despawn</li>
        <li>Added /duplicatecuties</li>
        <li>Removed /duplicateastolfos</li>
        <li>Added Rimuru</li>
        <li>Added Nagisa</li>
        <li>Added Sieg</li>
      </ul>
      <h3>v1.1</h3>
      <ul>
        <li>Added Astolfo Sword</li>
        <li>Added Astolfo Biome</li>
        <li>Added Felix Agryle</li>
      </ul>
      <h3>v1.0</h3>
      <ul>
        <li>First release</li>
      </ul>
      <h2>Download</h2>
      <a href="https://github.com/Akatsuki230/AstolfoForge/releases/latest">
        <button>Download Astolfo Forge Mod</button>
      </a>
      <a href="/discord">
        <button>Join my Discord server to discuss this project</button>
      </a>
      <img
        src="/project/astolfoforge/crowd.webp"
        alt="Astolfo Crowd in Minecraft"
      />
      <img
        src="/project/astolfoforge/biome.webp"
        alt="Astolfo Biome in Minecraft"
      />
      <img
        src="/project/astolfoforge/casual.webp"
        alt="Casual Astolfo in Minecraft"
      />
      <img
        src="/project/astolfoforge/armor.webp"
        alt="Armored Astolfo in Minecraft"
      />
      <img
        src="/project/astolfoforge/schoolgirl.webp"
        alt="School girl outfit Astolfo in Minecraft"
      />
      <img
        src="/project/astolfoforge/astolfoflower.webp"
        alt="Astolfo Flower in Minecraft"
      />
    </main>
    <Footer />
  </body>
</html>
