---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="My Summer Car Tweaks Mod" description="My Summer Car Tweaks Mod For My Summer Car" tag="My Summer Car mods, tweaks, Disable Pena, Disable Kyl채j채ni, Disable Amis2, Save Satsuma's temperature, Player can't die from Urine, Enable console, Add fall damage, Better Window Handles, download, Akatsuki, email: akatsuki2555@waifu.club" />
    <Ads />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>My Summer Car Tweaks Mod</h1>
      <p>
        This mod adds a few tweaks to My Summer Car, some of the most notable of
        her are:
      </p>
      <ul>
        <li>Disable Pena (the green car)</li>
        <li>Disable Kyl채j채ni (the yellow car)</li>
        <li>Disable Amis2 (the Skoda)</li>
        <li>Saving of Satsuma's temperature</li>
        <li>Player can't die from Urine (realism)</li>
        <li>Enable console in all scenarios</li>
        <li>Add fall damage into the game</li>
        <li>Better Window Handles (Speed up Window rolling up and down)</li>
      </ul>
      <h2>Download</h2>
      <a href="https://www.nexusmods.com/mysummercar/mods/3665">
        <button>Download</button>
      </a>
    </main>
    <Footer />
  </body>
</html>
