---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Old Kekmet</title>
    <style>
      .warning {
        background-color: #7d8002;
        color: #fff;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #d6c802;
      }
    </style>
    <Ads />
  </head>

  <body>
    <Header />
    <main>
      <h1>Old Kekmet Mod</h1>
      <div class="warning">
        <p>
          This mod is deprecated and therefore is no longer updated. It is also
          no longer available for download.
        </p>
      </div>
      <p>This mod modifies/adds the following things to the Kekmet:</p>
      <ul>
        <li>Old Engine Sounds (Default enabled)</li>
        <li>Old Engine Starting Sounds (Default enabled)</li>
        <li>Disable Dashboard</li>
        <li>Disable Forklift Arm</li>
        <li>Make Forklift White/Any other colour</li>
        <li>Old Starting System (Default enabled)</li>
        <li>Disable Radio</li>
      </ul>
      <h2>Changelog</h2>
      <h3>1.0 (20.02.2024)</h3>
      <ul>
        <li>Initial release</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
