---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Old Truck Sounds" description="Old Truck Sounds for My Summer Car" tag="My Summer Car mods, Old Truck Sounds, recreate old truck, old sounds, old starting sound, old look, logs instead of septic tank, download, Akatsuki, email: akatsuki2555@waifu.club" />
    <Ads />
    <Cursor client:load />
  </head>

  <body>
    <Header />
    <main>
      <h1>Old Truck Sounds</h1>
      <p>
        Old Truck Sounds is a mod for My Summer Car that recreates the old truck
        from older versions of the game.
      </p>
      <h2>Features:</h2>
      <ul>
        <li>Old Sounds</li>
        <li>Old Starting Sound</li>
        <li>Old Look</li>
        <li>Logs instead of septic tank</li>
      </ul>
      <h2>Download</h2>
      <a href="https://www.nexusmods.com/mysummercar/mods/4176">
        <button>Download</button>
      </a>
    </main>
    <Footer />
  </body>
</html>
