---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      name="Old World"
      description="Old World is an old mod by Akatsuki that reverted almost everything to be like the old days of My Summer Car."
    />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Old World</h1>
      <p style="color: yellow;">The old world mod has been reuploaded after numerous requests. I privated it a long time ago but now it's back up.</p>
      <p style="color: red;">This mod isn't finished in any way and it hasn't been tested so you're kinda on your own risk. If it works fine, you can say in the posts section that it works fine and I'll update the mod description.</p>
      <p>The old world mod features a few features:</p>
      <ul>
        <li>Remove logs on the sides of roads</li>
        <li>Remove mold on the house concrete</li>
        <li>Old road textures</li>
      </ul>
      <p style="color: yellow;">NOTE: The mod says that the mod is by "MLDKYT". This is my old username, please don't use it. I hate when people use my old username.</p>
      <p>If this mod gets enough popularity, I'll reverse engineer my own mod in order to add more features and open source it.</p>
      <p>SCROLL DOWN TO DOWNLOAD!</p>
      <h2>Images</h2>
      <img src="/project/oldworld/1.webp" alt="Old dirt road.">
      <img src="/project/oldworld/2.webp" alt="Old dirt road 2.">
      <img src="/project/oldworld/3.webp" alt="Removed wood piles as they're not in the old version.">
      <img src="/project/oldworld/4.webp" alt="Old house concrete.">
      <img src="/project/oldworld/5.webp" alt="Old concrete.">
      <img src="/project/oldworld/6.webp" alt="Old dirt road at unkkel alcohol.">
      <h2>Download</h2>
      <p>
        <a href="https://www.nexusmods.com/mysummercar/mods/5585">
            <button>Download on NexusMods</button>
        </a>
      </p>
    </main>
    <Footer />
  </body>
</html>
