---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="OwOifier" description="OwOifier mod for My Summer Car" tag="My Summer Car mods, OwOifier, joke mod, queer friends' idea, converts everything to OwOified, ability to change pronouns, owo, uwu, images, Akatsuki, email: akatsuki2555@waifu.club" />

    <style>
      img {
        max-width: calc(100% - 5px);
        margin: 10px 0;
      }
    </style>
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>OwOifier</h1>
      <p>
        This mod is a joke mod, the idea was made by my queer friends, I just
        developed the mod because I wanted to and the idea was funny
      </p>
      <p>This mod converts everything to be OwOified :3</p>
      <p>
        It also has the ability to change what you're referred to as, so you can
        become a girl if you want to :3
      </p>
      <ul>
        <li>owo</li>
        <li>uwu</li>
      </ul>

      <a href="https://www.nexusmods.com/mysummercar/mods/5408">
        <button>Download</button>
      </a>
      <a href="/discord">
        <button>Join my Discord server to discuss this project</button>
      </a>

      <h2>Images</h2>
      <img
        src="/project/owoifier/5408-1713711312-294742146.webp"
        alt="owoifier"
      />
      <img
        src="/project/owoifier/5408-1713711320-1233164915.webp"
        alt="owoifier"
      />
      <img
        src="/project/owoifier/5408-1713711326-1653939359.webp"
        alt="owoifier"
      />
      <img
        src="/project/owoifier/5408-1713711334-1472309579.webp"
        alt="owoifier"
      />
      <img
        src="/project/owoifier/5408-1713711340-1988882114.webp"
        alt="owoifier"
      />
    </main>
    <Footer />
  </body>
</html>
