---
import "@styles/global.module.css";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reg Plate Changer | My Summer Car Mod</title>
    </head>
    <body>
        <Header />
        <main>
            <h1>Reg Plate Changer</h1>
            <img src="/project/regplatechanger/1.webp" alt="Registration plate changer in My Summer Car on the Gifu">
            <p>
                Hey everyone, I'm excited to share the <a
                    href="https://www.nexusmods.com/mysummercar/mods/5488"
                    >Reg Plate Changer mod</a
                > for My Summer Car! This awesome mod was suggested by <a
                    href="https://www.nexusmods.com/mysummercar/users/186816642">Tukkisuma</a
                >, and I couldn't resist bringing it to life.
            </p>
            <p>
                With Reg Plate Changer, you can replace the standard
                registration plates on every vehicle in the game with your own
                custom designs. Cruise around Finland in style and let your
                creativity shine!
            </p>
            <p>
                Getting started is easy. The <a
                    href="https://codeberg.org/Akatsuki/RegPlateChanger/src/branch/main/assets"
                    >assets folder</a
                > includes a helpful README.jpg file that'll guide you through installation
                and customization. In no time, you'll be hitting the road in your
                personalized ride!
            </p>
            <p>
                A big thank you to <a href="https://www.nexusmods.com/mysummercar/users/186816642"
                    >Tukkisuma</a
                > for the fantastic idea. I'm thrilled to share this mod with the
                community and can't wait for everyone to enjoy this fun addition
                to My Summer Car.
            </p>
            <p>
                So, what are you waiting for? Grab the <a
                    href="https://www.nexusmods.com/mysummercar/mods/5488"
                    >Reg Plate Changer mod</a
                > and show off your unique designs on the road. Happy modding!
            </p>
        </main>
        <Footer />
    </body>
</html>
