---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta name="Water Bills" description="Water Bills for My Summer Car" tag="My Summer Car mods, Water Bills, adds water bills, adjustable price per liter, adjustable water consumption for shower and taps, copyright: アカツキ, email: akatsuki2555@waifu.club" />
    <Cursor client:load />
</head>

    <body>
        <Header />
        <main>
            <h1>Water Bills</h1>
            <p>
                This mod adds water bills alongside electricity bills and phone
                bills.
            </p>
            <img src="/project/waterbills/header.webp" alt="header" />
            <p>
                Features of this mod include:

                <ul>
                    <li>Water Bills</li>
                    <li>
                        Adjustable price per liter (can't adjust after game
                        start to avoid cheating the system :3)
                    </li>
                    <li>Adjustable water combustion for bathroom shower</li>
                    <li>
                        Adjustable water combustion for tap in kitchen and
                        bathroom
                    </li>
                </ul>
            </p>
            <p>
                <a href="https://www.nexusmods.com/mysummercar/mods/5475">
                    <button>Download</button>
                </a>
            </p>
        </main>
        <Footer />
    </body>
</html>
