---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="WorkingApartment Customizer" description="The WorkingApartment customizer allows you to customize your WorkingApartment." />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>WorkingApartment Customizer</h1>
      <img src="/project/workingapartmentcustomizer/Header.webp" alt="Header image">
      <p>This mod allows you to customize the WorkingApartment mod to your liking.</p>
      <p>Current features:</p>
      <ul>
        <li>Replace pictures in the player's bedroom, the other bedroom, the hallway, living room and kitchen</li>
        <li>Replace posters in player's bedroom</li>
        <li>Replace poster inside the garage</li>
        <li>Replace flag inside garage</li>
        <li>Remove shelves, tables and boxes from the garage for more space</li>
      </ul>
      <p style="color: yellow;">
        NOTE: If you do not like the mod because of the images I provided (I don't have any proper posters/paintings to show this mod off with), then leave and don't send hate in Posts section. Thank you. <i
          >The mod doesn't come with the posters, paintings and the flag shown in the images.</i>
      </p>
      <p style="color: red;">This mod also doesn't affect any files from the WorkingApartment mod <i>and it also works without it; unless you load a garage flag or garage poster.</i></p>

      <p>More features might get added when suggested.</p>

      <h2>Images</h2>
      <img src="/project/workingapartmentcustomizer/1.webp" alt="Custom Posters">
      <img src="/project/workingapartmentcustomizer/2.webp" alt="Custom painting in kitchen">
      <img src="/project/workingapartmentcustomizer/3.webp" alt="Custom painting in hallway">
      <img src="/project/workingapartmentcustomizer/4.webp" alt="Custom painting in second bedroom">
      <img src="/project/workingapartmentcustomizer/5.webp" alt="Custom painting in living room">
      <img src="/project/workingapartmentcustomizer/6.webp" alt="Custom garage flag">
      <img src="/project/workingapartmentcustomizer/7.webp" alt="Custom garage poster (Rotated wrong, you'll need to rotate the image)">

      <p>
        <a href="https://www.nexusmods.com/mysummercar/mods/5659">
          <button>Download</button>
        </a>
      </p>
    </main>
    <Footer />
  </body>
</html>
