---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Discord Server" description="Akatsuki's Discord Server" tag="Akatsuki, Discord Server, My Summer Car mods, community, mod support, chat, Q&A, video announcements, project updates, development involvement, socials, copyright: アカツキ, email: akatsuki2555@waifu.club" />
    <style>
      #discordrules {
        display: none;
        position: fixed;
        top: 100px;
        left: 100px;
        width: calc(100% - 200px);
        height: 800px;
      }

      iframe {
        width: 100%;
      }
    </style>
    <Ads />
    <script type="text/javascript">
      var agreeCountdown = 10;
      var interval = null;

      function showRules() {
        var discordrules = document.getElementById("discordrules");
        discordrules.style.display = "block";
        interval = setInterval(function () {
          agreeCountdown--;
          var agreeButton = document.getElementById("agree");
          agreeButton.innerText = "I agree (" + agreeCountdown + ")";
          if (agreeCountdown <= 0) {
            agreeButton.disabled = false;
            agreeButton.innerText = "I agree";
            clearInterval(interval);
          }
        }, 1000);
      }

      function hideRules() {
        var discordrules = document.getElementById("discordrules");
        discordrules.style.display = "none";
        clearInterval(interval);
        agreeCountdown = 10;
        document.getElementById("agree").disabled = true;
        document.getElementById("agree").innerText = "I agree (10)";
      }

      function agreeToRules() {
        window.location.href = "https://discord.gg/YFksXpXnn6";
      }
    </script>
  </head>
  <body>
    <Header />
    <main>
      <h1>Akatsuki's Discord Server</h1>
      <p>Here you can join the Discord server that is owned by Akatsuki.</p>
      <p>
        Here you can get help with any of her mods, chat with the community or
        ask her questions.
      </p>
      <p>
        You will get video announcements, new project announcements and ability
        to get involved in developing of some projects.
      </p>
      <p>
        <button onclick="showRules()">Join</button>
      </p>
    </main>
    <Footer />

    <div id="discordrules">
      <h2>Before joining please acknowledge these rules</h2>
      <iframe
        src="/discord/rules/"
        title="Discord Rules"
        width="500"
        height="400"
        sandbox=""></iframe>
      <button id="agree" disabled onclick="agreeToRules()">I agree (10)</button>
      <button id="disagree" onclick="hideRules()">I disagree</button>
    </div>
  </body>
</html>
