---
import Cursor from "@components/cursor.astro";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import Meta from "@components/meta.astro";
import Scripts from "@components/scripts.astro";
import "@styles/global.module.css";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      name="Akatsuki's Discord Server Rules"
      description="Akatsuki's Discord Server Rules"
    />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <a href="/discord">&lt; Back to server</a>

      <h1>Akatsuki's Discord Server Rules</h1>

      <h2>Conditions for joining</h2>
      <p>The conditions below need to be met in order to be able to join:</p>
      <ul>
        <li>Your account has to be at least 30 days old</li>
        <li>Your account must have a profile picture</li>
      </ul>
      <p>If all of these conditions are met, the bot won't kick you anymore and you can join my Discord server.</p>

      <h2>Discord Rules:</h2>
      <ul>
        <li><strong>Be respectful:</strong> Treat everyone with kindness and avoid arguments, drama, or flaming. Do not make offensive, derogatory, or similar memes towards anyone, including fictional figures.</li>
        <li><strong>Stay on topic:</strong> Use designated channels for specific topics and avoid derailing conversations.</li>
        <li>
          <strong>No spam or excessive self-promotion:</strong> This includes excessive use of emojis, reactions, or memes. Sending your own content that’s related to the chat is allowed, although this rule is enforced strictly and might not
          always be allowed.
        </li>
        <li><strong>English only:</strong> This server is English only. Do not try to speak other languages here otherwise you'll get warnings.</li>
        <li><strong>No advertising:</strong> Do not advertise in any channel whatsoever. You can advertise in self-promotion.</li>
        <li><strong>Appropriate Channels:</strong> Use appropriate channels for appropriate things. Do not send memes or media in general, instead use memes and media channels.</li>
        <li>
          <strong>Discord Terms of Service:</strong> Please follow the Discord Terms of Service on Discord as a whole. Some key points include Discord modifications, screenshots of them, game cheats, screenshots, copies and mentions of them.
        </li>
        <li><strong>Guns are not allowed:</strong> We do not play with fire here, guns and any discussion about them is disallowed.</li>
        <li><strong>No sharing private information:</strong> Do not share anyone's personal information, including your own. Sending personal information of anyone whether that's yours or anyone else's will result in warnings.</li>
        <li><strong>No malware, phishing or malicious links:</strong> Don’t share viruses, whether that's malware, ransomware, phishing links, scam links, joke malware, or joke mods for My Summer Car. "supra.dll" falls under this rule.</li>
        <li>
          <strong>No leaking My Summer Car mods/old builds:</strong> Do not leak My Summer Car mods or old My Summer Car builds under any circumstance. Doing so will result in an immediate ban. Screenshots of these mods are also disallowed on
          this Discord server.
        </li>
        <li><strong>Spoiler policy:</strong> Things that you can only experience once and should not be told to new users should be tagged as spoilers. Not doing so will result in warnings.</li>
        <li>
          <strong>NO LEWD/NSFW:</strong> Do NOT post any NSFW/LEWD content under ANY circumstance. This applies everywhere, including all channels in this Discord server and in DM's where applicable. If any member is messaging you from this
          server and sending you lewd content, report to admins.
        </li>
        <li>
          <strong>Jokes are not always jokes:</strong> Jokes about NSFW/LEWD content, terrorist organizations, Nazism, fascism, 9/11, homeless, offensive or towards any group that's vulnerable are not treated as jokes on this Discord server.
        </li>
        <li><strong>DM’s:</strong> Do not DM anyone without their consent in this Discord server. Always ask them first. While at it, you can turn off DM’s by right clicking this Discord server > Privacy Settings > Direct Messages.</li>
        <li>
          <strong>Do NOT ping Akatsuki:</strong> Do not ping Akatsuki. If you want to report messages, you can do so by right clicking the message, going under Apps and clicking on Report Message. Pinging her for nonsense will result in warnings,
          mutes or even bans.
        </li>
        <li><strong>Report messages that violate these rules:</strong> You can report messages by right-clicking and going under Apps > Report Message.</li>
        <li>
          <strong>No engagement in illegal activities:</strong> Engaging in any form of illegal activities, including but not limited to tax evasion, fraud, hacking, or any other activities that violate local, national, or international laws,
          is strictly prohibited. Violations will result in warnings or bans.
        </li>
        <li><strong>Limit media usage in #general:</strong> Please limit the number of polls, images, gifs, and videos posted in general to a minimum. Do not post any memes in #general, we have #memes for that.</li>
      </ul>

      <h3>Punishments:</h3>
      <p>The punishment system depends on the severity of the rule violation. If you consistently break the rules, these punishments will get stricter.</p>
      <ul>
        <li>
          Some rules in this list are light rules, meaning that the punishment for them is minimal. Violating these rules will result in warnings or, at most, mutes. For example, the <strong>English only</strong> rule falls under this.
        </li>
        <li>
          Medium rules are rules that are handled more strictly. Punishments for these rules will result in mutes, kicks, or bans in worst-case scenarios. The <strong>Do NOT ping Akatsuki</strong> rule falls under this one, for example.
        </li>
        <li>
          Lastly, there are strictly handled rules. These rules have a punishment of a permanent ban. Under this one, rules such as <strong>No nazism, no fascism</strong> and <strong>no lewd/NSFW content</strong> fall under this rule.
        </li>
      </ul>
      <p>Some rules may apply everywhere where Akatsuki is present.</p>
    </main>
    <Footer />
  </body>
</html>
