---
import Cursor from "@components/cursor.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Scripts from "@components/scripts.astro";
import "@styles/global.module.css";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Akatsuki's Discord Server Rules" description="Akatsuki's Discord Server Rules" tag="Akatsuki's Discord Server, rules, join requirements, server rules, warnings, mutes, bans, compliance, non-compliance, racism, hate speech, homophobia, transphobia, My Summer Car builds, word filter bypass, alts, moderator decisions, doxxing, personal information, chat guidelines, copyright: アカツキ, email: akatsuki2555@waifu.club" />
    <Scripts />
    <Cursor />
  </head>
  
  <body>
    <main>
      <h1>Akatsuki's Discord Server Rules</h1>
      <p>
        Non-compliance may lead to warnings, mutes, or bans. Some rules apply to
        all servers with Akatsuki. Certain rules also apply to DMs. Report
        inappropriate behavior or content leaks to an admin.
      </p>
      <p>
        Rules that are marked <strong>bold</strong> are handled <strong>VERY STRICTLY</strong>.
      </p>
      <h2>General Conduct</h2>
      <ol>
        <li><strong>Be respectful:</strong> Treat everyone with kindness and avoid arguments, drama or flaming. Do not make offensive, derogatory or similar memes towards anyone, including fictional figures.</li>
        <li><strong>Stay on topic:</strong> Use designated channels for specific topics and avoid derailing conversations.</li>
        <li><strong>No spam or excessive self-promotion:</strong> This includes excessive use of emojis, reactions, or memes. Sending your own content that's related to the chat is allowed, although this rule is enforced strictly and might not be always allowed.</li>
        <li><strong>English only:</strong> This server is English only. Do not try to speak other languages here otherwise you'll get warnings.</li>
        <li><strong>No advertising:</strong> Do not advertise in any channel whatsoever. You can advertise in self-promotion.</li>
        <li><strong>Appropriate Channels:</strong> Use appropriate channels for appropriate things. Do not send memes or media in general, instead use memes and media channels.</li>
      </ol>
      <h2>Safety and Security</h2>
      <ol>
        <li>No sharing private information: Do not share anyone's personal information, including your own. Sending personal information of anyone whether that's yours or anyone others will result in warnings.</li>
        <li>No malware, phishing or malicious links: Don't share viruses, whether that's malware, ransomware, phishing links, scam links, joke malware or joke mods for My Summer Car. "supra.dll" falls under this rule.</li>
        <li>No leaking My Summer Car mods/old builds: Do not leak My Summer Car mods or old My Summer Car builds under any circumstance. Doing so will result in an immediate ban.</li>
      </ol>
      <h2>Additional Considerations</h2>
      <ol>
        <li><strong>Spoiler policy:</strong> Things that you can only experience once and should not be told to new users should be tagged as spoilers. Not doing so will result in warnings.</li>
        <li><strong>NO LEWD/NSFW:</strong> Do NOT post any NSFW/lewd content under ANY circumstance. This applies everywhere, including all channels in this Discord server and in DM's where applicable. If any member is messaging you from this server and sending you lewd content, report to admins.</li>
        <li><strong>Jokes are not always jokes:</strong> Jokes about NSFW/lewd content, terrorist organizations, Nazism, fascism, 9/11, homeless, offensive or towards any group that's vulnerable are not treated as jokes on this Discord server.</li>
        <li><strong>DM's:</strong> Do not DM anyone without their consent in this Discord server. Always ask them first. While at it, you can turn off DM's by right clicking this Discord server &gt; Privacy Settings &gt; Direct Messages</li>
        <li><strong>For Akatsuki's Workload:</strong> Limit tagging Akatsuki: Do not ping Akatsuki for Stupid reasons, only in emergencies. Encourage using report channels: You can report messages by right-clicking and going under Apps &gt; Report Message</li>
        <p>If you are curious how you can get banned from our server, you can view the <a href="/discord/bannedwords">banned words list here</a>.</p>
      </ol>
    </main>
    <Footer />
  </body>
</html>

