* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MS UI Gothic", nec_apc3, Verdana, sans-serif !important;
    image-rendering: -moz-crisp-edges !important;
    image-rendering: -webkit-crisp-edges !important;
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
}

:root {
    color-scheme: dark;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #eee;
}

header {
    background-color: #2c2c2c;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

header nav {
    padding: 5px 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: 0 auto;
    max-width: 760px;
    height: max-content;
}

h1 {
    font-size: 28px;
    position: relative;
    left: -20px;
    width: 800px;
    padding-left: 20px;
    background: linear-gradient(to bottom, #2c2c2c 0%, #222222 100%);
}

p {
    color: #eee;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

li {
    color: #eee;
}

main li {
    margin-left: 40px;
}

footer {
    padding: 10px 0;
    max-width: 800px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #222222 0%, #2c2c2c 30% 70%, #222222 100%);
}

footer p {
    margin: 0;
}

button {
    background-color: #c0c0c0;
    color: black;
    padding: 4px 20px;
    border: 2px solid gray;
    border-top: 3px solid lightgray;
}

button:hover {
    border: 3px solid rgb(53, 53, 53);
    border-top: 3px solid rgb(97, 97, 97);
}

button:active {
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-left: 4px solid gray;
    border-top: 4px solid gray;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

a {
    color: rgb(25, 139, 139);
}

a:hover {
    color: #8482f7;
}

a:active {
    color: #4c4af1;
}

img {
    width: 580px;
}