---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
import projectStyles from "@styles/projectList.module.css";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Nekoweb Projects" description="This is a list of projects that are built on Nekoweb. Currently there's search and random website." />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Nekoweb Projects</h1>
      <p>Projects listed here are mainly built on Nekoweb.</p>
      <div class={projectStyles.projectContainer}>
        <a href="/neko/search">
          <div class={projectStyles.project} style="background-image: url(/neko/search/1.jpg);">
            <h3>Akatsuki Nekosearch</h3>
            <p>A instant, private and independently indexed search for Nekoweb, including content.</p>
          </div>
        </a>
        <a href="/neko/random">
          <div class={projectStyles.project} style="background-image: url(/neko/random/1.jpg);">
            <h3>Random Nekoweb Site Jump</h3>
            <p>Jump to a random website on Nekoweb. Uses my Nekoweb indexes to do so.</p>
          </div>
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
