---
import Meta from "@components/meta.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Search Nekoweb" description="Search the entirety of Nekoweb, including all website's content." />
    <meta
      http-equiv="refresh"
      content="0; url=https://akatsuki.nekoweb.org/project/neko/random"
    />
  </head>

  <body>
    <h1>
      Redirecting, if it didn't happen, click <a
        href="https://akatsuki.nekoweb.org/project/neko/random"
        >here</a
      >
    </h1>
  </body>
</html>
