---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
import Tabs from "@components/Tabs.astro";
import Tab from "@components/Tab.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <style>
      .warning {
        background-color: rgb(75, 75, 0);
        padding: 0.5em;
        margin: 0.5em;
        border: 2px solid gray;
        border-top: 2px solid lightgray;
        border-left: 2px solid lightgray;
      }
    </style>
    <Meta
      name="AkaBot"
      description="A Discord bot by Akatsuki"
      tag="discord bot, server management, anti raid, chat revive, chat streaks, chat summary, feedback commands, leveling, logging, moderation, polls, reaction roles, settings, welcoming, blocked users, premium features"
    />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>AkaBot</h1>
      <Tabs>
        <Tab href="/project/akabot" selected>About</Tab>
        <Tab href="/project/akabot/privacy">Privacy Policy</Tab>
        <Tab href="/project/akabot/tos">Terms of Service</Tab>
        <Tab href="/project/akabot/changelog">Changelog</Tab>
      </Tabs>
      <p>A Discord bot by Akatsuki.</p>

      <div>
        <a href="https://discord.com/api/oauth2/authorize?client_id=1172922944033411243&permissions=2048&scope=bot">
          <button>Invite</button>
        </a>
        <a href="/discord">
          <button>Join my Discord server to discuss this project</button>
        </a>
      </div>

      <p>The Akatsuki's Discord server contains a channel for Akabot discussions.</p>

      <div class="warning">
        <p><strong>New update v3 out!</strong> <a href="/project/akabot/changelog">See changelog for more details!</a></p>
      </div>

      <p>The support Discord has active updates about the development of the bot, a chatting community and even you can be part of the development by suggesting new features!</p>
      <p>This Discord bot, crafted with care by a dedicated individual, provides numerous features to enrich your server experience. Below is a simple explanation of what this bot offers:</p>
      <ul>
        <li>
          <strong>Anti Raid:</strong> This bot vigilantly monitors your server. If it detects a flurry of activities unfolding simultaneously, it sends you an alert, helping to ward off any potential raids on your server.
        </li>
        <li>
          <strong>Chat Revive:</strong> When your chat goes dormant for a stretch, this bot can spur the conversation back to life.
        </li>
        <li>
          <strong>Chat Streaks:</strong> If users send messages on successive days, this bot applauds these 'streaks', adding a fun element to your server interactions.
        </li>
        <li>
          <strong>Chat Summary:</strong> Each day, this bot can provide a tally of messages sent on your server, helping you keep track of daily communication.
        </li>
        <li>
          <strong>Feedback Commands:</strong> This bot can gather valuable remarks and suggestions from your users, fostering a feedback-rich environment.
        </li>
        <li>
          <strong>Leveling:</strong> This bot can establish a 'levels' system, rewarding active users, and promoting engagement.
        </li>
        <li>
          <strong>Logging:</strong> The bot can maintain a comprehensive record of activities on your server, ensuring transparency.
        </li>
        <li>
          <strong>Moderation:</strong> The bot comes equipped with 'ban', 'kick', and 'timeout' commands, aiding you in maintaining harmony on your server.
        </li>
        <li>
          <strong>Reaction Roles:</strong> This bot enables users to choose her roles by reacting to a message, adding a layer of interactivity.
        </li>
        <li>
          <strong>Settings:</strong> You can tweak the bot's settings to align with your server's requirements.
        </li>
        <li>
          <strong>Welcoming:</strong> The bot can relay personalized welcome and goodbye messages to users, adding warmth to your server.
        </li>
        <li>
          <strong>Giveaways:</strong> Host simple giveaways on your Discord server, with any ending date and custom reward.
        </li>
      </ul>
      <p>If you think that any features are missing from the bot, you can suggest them straight from the bot using /feedback suggest. They will be added if they're good.</p>
    </main>
    <Footer />
  </body>
</html>
