---
import "@styles/global.module.css";
export const name = "Akabot Release";
export const description = "The release of the Discord bot, Akabot.";
export const date = "2023-12-15";

import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Scripts from "@components/scripts.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="Akabot Release"
            description="The release of the Discord bot, Akabot."
            tag=""
        />
        <Scripts />
        <Cursor />
    </head>
    <body>
        <Header />
        <main>
            <h1>Akabot Release</h1>
            <p>This day marks the release of Akabot, which is a Discord bot with a ton of features.</p>
            <h2>Features:</h2>
            <ul>
                <li>Moderation - Moderation commands like <code>/kick</code>, <code>/ban</code>, <code>/timeout</code>. They also support DMing punished members and timeouts up to 28 days as opposed to only 7 days.</li>
                <li>Anti-raid - Simple anti raid that catches members that spam, modify the server way too much in a short period of time, ban, kick or timeout way too many members in a short period of time.</li>
                <li>Leveling - Basic leveling depending on the length of the message.</li>
                <li>Logging - Log changes to users, channels, emojis, stickers, basically everything.</li>
                <li>Polls - Create polls, vote on them and close them as admins.</li>
                <li>Reaction roles - Create reaction roles that are:
                    <ul>
                        <li>Normal - Normal reaction roles, click to add when you don't have the role, click to remove the role if you have it</li>
                        <li>Add only - Click to add the role only, no removal</li>
                        <li>Remove only - Click to remove the role only, no add</li>
                        <li>Single choice role - Selecting a role out of a choice of roles results in only that role being added.</li>
                    </ul>
                </li>
                <li>Welcoming - Welcome new members, with a customizable message, whether that's an embed or a normal message, with fully customizable text.</li>
            </ul>
        </main>
        <Footer />
    </body>
</html>
