---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<html lang="en">
    <head>
        <Meta
            name="History of Akatsuki2555 - YouTube Channel Journey and Content Highlights"
            description="Explore the captivating history of Akatsuki2555's YouTube channel, from its humble beginnings in November 2019 to its remarkable growth and diverse content. Discover her early focus on My Summer Car videos, expansion into programming tutorials, internet upgrade, Minecraft plugins, and more. Dive into her My Summer Car modding tutorials, Raspberry Pi server projects, involvement in SEAJAM and Mon Bazou, and the release of the popular mod Asphalt Roads. Learn about Akatsuki2555's TikTok journey, pronoun change, and the support she received from her community. Join us on this exciting journey through Akatsuki2555's YouTube channel history."
            tag="YouTube channel, My Summer Car, Rust, programming tutorials, power outages, internet upgrade, playthrough, modding tutorials, Among Us, Minecraft plugins, Raspberry Pi server, SEAJAM, TEAMSEAS, Mon Bazou, save file editing, tutorial, My Summer Car mods, Asphalt Roads mod, NexusMods, TikTok, NSFW incident, pronouns change, she/her, content creator, gaming, programming, modding, tutorial videos, community projects, social media influencer, content diversity, personal journey"
        />
        <Ads />
        <Cursor client:load />
    </head>

    <body>
        <Header />
        <main>
            <h1>History of Akatsuki</h1>

            <h3>Pronoun Change - December 2023</h3>
            <ul>
                <li>
                    In December 2023, Akatsuki decided to change her pronouns to
                    she/her, receiving support from most of the servers she was
                    part of.
                </li>
            </ul>

            <h3>Popular Mod and TikTok</h3>
            <ul>
                <li>
                    In 2023, Akatsuki released the popular mod "Asphalt Roads"
                    for My Summer Car, which gained significant attention on
                    NexusMods.
                </li>
                <li>
                    She started her TikTok account in August 2023, gaining
                    popularity and followers, especially after a false ban from
                    a Discord server for alleged NSFW content.
                </li>
            </ul>

            <h3>Refreshed Modding Tutorials</h3>
            <ul>
                <li>
                    Akatsuki refreshed her My Summer Car modding tutorials,
                    uploading a comprehensive tutorial that replaced her older
                    ones.
                </li>
            </ul>

            <h3>SEAJAM and Mon Bazou</h3>
            <ul>
                <li>
                    In 2022, she discovered Mon Bazou and created tutorials,
                    guides, and gameplay videos on editing save files and other
                    aspects of the game.
                </li>
                <li>
                    In November 2021, Akatsuki joined SEAJAM, a community
                    project for TEAMSEAS, aimed at raising money through game
                    development.
                </li>
            </ul>

            <h3>Raspberry Pi Server</h3>
            <ul>
                <li>
                    Akatsuki acquired a Raspberry Pi and started using it as a
                    server for hosting her projects, including Akabot.
                </li>
            </ul>

            <h3>First My Summer Car Mod - December 31st, 2020</h3>
            <ul>
                <li>
                    On December 31st, 2020, Akatsuki uploaded her first My
                    Summer Car mod, "OldCarSounds," which recreated the old car
                    sounds from previous alpha versions of the game.
                </li>
            </ul>

            <h3>My Summer Car Modding Tutorials</h3>
            <ul>
                <li>
                    She also uploaded a few Among Us videos during this time but
                    discontinued due to the game's declining popularity.
                </li>
                <li>
                    Akatsuki uploaded a series of My Summer Car modding
                    tutorials, covering topics such as setting up the
                    development environment, accessing playmaker variables,
                    creating GUI, saving and loading data, and making objects
                    pickupable.
                </li>
            </ul>

            <h3>Further Expansion</h3>
            <ul>
                <li>
                    Akatsuki completed a My Summer Car playthrough without
                    cheats, although she didn't successfully complete the game.
                </li>
                <li>
                    She added Minecraft plugins and virtual machine content to
                    her channel.
                </li>
            </ul>

            <h3>Internet Upgrade</h3>
            <ul>
                <li>
                    Akatsuki upgraded her internet speed from 10mbps to 100mbps,
                    enabling her to upload videos at a faster rate.
                </li>
            </ul>

            <h3>Expansion of Content - December 2019</h3>
            <ul>
                <li>
                    In December 2019, she started uploading videos of other
                    games, such as Rust, which coincided with a server hack
                    during the Christmas event.
                </li>
                <li>
                    Akatsuki expanded her content to include programming
                    tutorials, covering topics like discord.js and My Summer Car
                    mods.
                </li>
                <li>
                    She also documented and uploaded videos of power outages in
                    her area.
                </li>
            </ul>

            <h3>Early Content</h3>
            <ul>
                <li>
                    Akatsuki focused on uploading videos of the game "My Summer
                    Car," including unique content like filling the entire
                    highway with beer cases.
                </li>
            </ul>

            <h3>Introduction - November 26th, 2019</h3>
            <ul>
                <li>
                    Akatsuki (previously known as mldkyt) created her YouTube
                    channel on November 26th, 2019.
                </li>
                <li>
                    Initially, she uploaded her previously edited content, which
                    took a few days due to her slow internet connection.
                </li>
            </ul>

            <p>
                This summarizes the history of Akatsuki's YouTube channel,
                highlighting her content, achievements, and personal journey.
            </p>
        </main>
    </body>
</html>
