---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Meta from '@components/meta.astro';
---

<html lang="en">
    <head>
        <Meta name="History" description="History about Akatsuki" tag="my summer car,my summer car mods"/>
        <Ads />
    </head>

    <body>
        <Header />
        <main>
            <h1>History of Akatsuki</h1>
            <p>
                It all began on 26th November, 2019, when Akatsuki (previously
                under the name mldkyt) created her YouTube channel. She initally
                uploaded all her previously edited content, which took a few
                days because of her slow internet connection.
            </p>
            <p>
                Initally, she would upload My Summer Car only and would do
                interesting content inside of it, including filling the entire
                highway with beer cases.
            </p>
            <p>
                She would later move on to upload other content than these My
                Summer Car videos, so on December 2019, she uploaded her first
                video that wasn't My Summer Car. She uploaded a video in Rust.
                This video was done during the Christmas event in Rust and at
                the same time she got lucky as the server got hacked during the
                recording.
            </p>
            <p>
                Later, she expanded her content to uploading programming
                tutorials of anything. Whether it was discord.js, My Summer Car
                mods (later), she would upload a few tutorials.
            </p>
            <p>
                She would also experience power outages, which she would record
                and upload on YouTube as well. Power outages were frequent in
                her area before there were some renovations.
            </p>
            <p>
                Then, finally she would get her first upgrade: Internet. Her
                internet speed was around 10mbps before the upgrade and after
                the upgrade it was 10x that amount: 100mbps. This was a lot for
                her as she could now upload videos at faster speeds.
            </p>
            <p>
                She then did a My Summer Car playthrough without using any
                cheats. She didn't complete the game successfully, but she did
                get the car inspected.
            </p>
            <p>
                It was around this time she started uploading a now privated set
                of My Summer Car modding tutorials. She started by uploading how
                to set up the development environment for modding My Summer Car,
                then how to access playmaker variables, how to make GUI, how to
                save and load data, how to make interaction and finally, how to
                make objects pickupable.
            </p>
            <p>
                Around this time she uploaded a few Among us videos, but she
                quickly stopped and deemed Among us a dead game (this was when
                Among us was very popular).
            </p>
            <p>
                She expanded her content even further, now adding Minecraft
                plugins and playing with them and virtual machine content.
            </p>
            <p>
                On 31st of December, 2020, she would upload her first My Summer
                Car mod and a video about it on her YouTube channel. The mod was
                OldCarSounds and it recreated the old car sounds from old alpha
                versions of the game. This mod would get numerous updated and is
                currently on version 1.6.
            </p>
            <p>
                She would also make an attempt at recreating the trailer of My
                Summer Car in modern versions, which was kind of a successfull
                video.
            </p>
            <p>
                She would later get a Raspberry Pi which she uses as a server
                now. Today, it hosts many of her projects like Akabot.
            </p>
            <p>
                On November 2021, Akatsuki would join SEAJAM, which was a
                community project for TEAMSEAS. Its goal was to raise enough
                money for TEAMSEAS and that was by making games. Her game was
                not seen on the livestream and it has been lost to time.
            </p>
            <p>
                Entering 2022, she discovered Mon Bazou. She quickly made a
                tutorial on how to edit save files inside the game, together
                with a few guides, tutorials and
            </p>
            <p>
                After this, she decided to refresh her My Summer Car modding
                tutorials. She uploaded one big tutorial, featuring it all while
                being shorter and cleaner, and privated all of her old
                tutorials.
            </p>
            <p>
                In 2023, Akatsuki made one of her most popular mods for My
                Summer Car. That being Asphalt Roads. Upon release, the mod
                quickly took over the NexusMods website's hot mods page, staying
                there for almost a month.
            </p>
            <p>
                During August 2023, she started her TikTok. It started popular,
                making her make a lot of projects. The popularity especially
                bounced when she got banned off of one server for allegedly
                posting NSFW. This was not true though as she would never post
                NSFW. The ban never got lifted, but her TikTok spiked in
                popularity, getting 2000 followers within 2 weeks.
            </p>
            <p>
                In December of 2023, randomly on one night, Akatsuki decided "I
                wanna be a girl" and secretly changed her pronouns to she/her.
                Most of the servers she was in during this time supported her in
                her action so she stayed this way.
            </p>
            <p>And that's where we are now.</p>
        </main>
    </body>
</html>
