---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
import Footer from "@components/footer.astro";
---

<html lang="en">
    <head>
        <Meta
            name="History of Akatsuki2555 - YouTube Channel Journey and Content Highlights"
            description="Explore the captivating history of Akatsuki2555's YouTube channel, from its humble beginnings in November 2019 to its remarkable growth and diverse content. Discover her early focus on My Summer Car videos, expansion into programming tutorials, internet upgrade, Minecraft plugins, and more. Dive into her My Summer Car modding tutorials, Raspberry Pi server projects, involvement in SEAJAM and Mon Bazou, and the release of the popular mod Asphalt Roads. Learn about Akatsuki2555's TikTok journey, pronoun change, and the support she received from her community. Join us on this exciting journey through Akatsuki2555's YouTube channel history."
            tag="YouTube channel, My Summer Car, Rust, programming tutorials, power outages, internet upgrade, playthrough, modding tutorials, Among Us, Minecraft plugins, Raspberry Pi server, SEAJAM, TEAMSEAS, Mon Bazou, save file editing, tutorial, My Summer Car mods, Asphalt Roads mod, NexusMods, TikTok, NSFW incident, pronouns change, she/her, content creator, gaming, programming, modding, tutorial videos, community projects, social media influencer, content diversity, personal journey"
        />
        <Scripts />
        <Cursor />
    </head>

    <body>
        <Header />
        <main>
            <h1>History of Akatsuki2555</h1>

            <h3>Shutting Down TikTok</h3>
            <ul>
                <li>On May 5 2024, I shut down my TikTok account. All videos were reuploaded as one long video in November of 2023.</li>
            </ul>

            <p>"I", "my" and "me" refers to Akatsuki on this page. I use she/her pronouns.</p>

            <h3>Moving to Nekoweb</h3>
            <ul>
                <li>After I created my Codeberg account, I also moved my website from GitHub to Codeberg. When I realized how unstable Codeberg Pages was (over 14 hours of downtime at once!), I moved my site to Nekoweb.</li>
            </ul>

            <h3>Pronoun Change - December 2023</h3>
            <ul>
                <li>
                    In December 2023, I decided to change my pronouns to
                    she/her, receiving support from most of the servers I was
                    part of.
                </li>
            </ul>

            <h3>Popular Mod and TikTok</h3>
            <ul>
                <li>
                    In 2023, I released the popular mod "Asphalt Roads"
                    for My Summer Car, which gained significant attention on
                    NexusMods.
                </li>
                <li>
                    I started my TikTok account in August 2023, gaining
                    popularity and followers, especially after a false ban from
                    a Discord server for alleged NSFW content.
                </li>
            </ul>

            <h3>Refreshed Modding Tutorials</h3>
            <ul>
                <li>
                    I refreshed my My Summer Car modding tutorials,
                    uploading a comprehensive tutorial that replaced my older
                    ones.
                </li>
            </ul>

            <h3>SEAJAM and Mon Bazou</h3>
            <ul>
                <li>
                    In 2022, I discovered Mon Bazou and created tutorials,
                    guides, and gameplay videos on editing save files and other
                    aspects of the game.
                </li>
            </ul>

            <h3>Raspberry Pi Server</h3>
            <ul>
                <li>
                    I acquired a Raspberry Pi and started using it as a
                    server for hosting my projects, including Akabot.
                </li>
            </ul>

            <h3>First My Summer Car Mod - December 31st, 2020</h3>
            <ul>
                <li>
                    On December 31st, 2020, I uploaded my first My
                    Summer Car mod, "OldCarSounds," which recreated the old car
                    sounds from previous alpha versions of the game.
                </li>
            </ul>

            <h3>My Summer Car Modding Tutorials</h3>
            <ul>
                <li>
                    I uploaded a series of My Summer Car modding
                    tutorials, covering topics such as setting up the
                    development environment, accessing playmaker variables,
                    creating GUI, saving and loading data, and making objects
                    pickupable.
                </li>
                <li>
                    I also uploaded a few Among Us videos during this time but
                    stopped due to the game's declining popularity.
                </li>
            </ul>

            <h3>Further Expansion</h3>
            <ul>
                <li>
                    I built the Satsuma in a My Summer Car playthrough without
                    cheats, although I didn't successfully complete the game.
                </li>
                <li>
                    I added Minecraft plugins and virtual machine content to
                    my channel.
                </li>
            </ul>

            <h3>Internet Upgrade</h3>
            <ul>
                <li>
                    I upgraded my internet speed from 10mbps to 100mbps,
                    enabling me to upload videos at a faster rate.
                </li>
            </ul>

            <h3>Expansion of Content - December 2019</h3>
            <ul>
                <li>
                    In December 2019, I started uploading videos of other
                    games, such as Rust, which coincided with a server hack
                    during the Christmas event.
                </li>
                <li>
                    I expanded my content to include programming
                    tutorials, covering topics like discord.js and My Summer Car
                    mods.
                </li>
                <li>
                    I also documented and uploaded videos of power outages in
                    my area.
                </li>
            </ul>

            <h3>Early Content</h3>
            <ul>
                <li>
                    I focused on uploading videos of the game "My Summer
                    Car," including unique content like filling the entire
                    highway with beer cases.
                </li>
            </ul>

            <h3>Introduction - November 26th, 2019</h3>
            <ul>
                <li>
                    I (previously known as mldkyt) created my YouTube
                    channel on November 26th, 2019.
                </li>
                <li>
                    Initially, I uploaded my previously edited content, which
                    took a few days due to my slow internet connection.
                </li>
            </ul>

            <p>
                This summarizes the history of my YouTube channel,
                highlighting my content, achievements, and personal journey.
            </p>
        </main>
        <Footer />
    </body>
</html>
