---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import indexStyles from "@styles/index.module.css";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Akatsuki2555" description="Akatsuki2555 is a trans catgirl programmer making My Summer Car mods and her own projects, ranging from a Discord bot to a full OS." />
    <Scripts />
    <Cursor />
    <link rel="stylesheet" href="https://webring.nekoweb.org/onionring.css" />
  </head>

  <body>
    <Header />
    <main>
      <h1>Akatsuki's website</h1>

      <h2>Quick Little Introductory Card</h2>
      <div class={indexStyles.card}>
        <ul>
          <li>Akatsuki2555 (Akatsuki2555)</li>
          <li>she/her 🏳️‍⚧️🌈</li>
          <li>Content Creator, YouTuber, Programmer, Verified Bot Maintainer</li>
          <li>Certified Cutie™</li>
        </ul>
      </div>

      <h2>Short About me</h2>
      <p>I (Akatsuki) am a trans (cat)girl who writes code. I makes various content from YouTube videos to programming.</p>
      <p>I make My Summer Car mods but I am not certainly limited to only that. I make other projects such as Akabot, Astolfo Forge mod, Astolfo is coming for you and many more.</p>
      <p>
        My My Summer Car mods include adding new features (Highway Car Breakdowns), completely changing the balance of the game (Asphalt Roads), adding completely unseen content into the game (LGBTQ Pride Flags) and even joke mods
        (OwOifier). I don't consider myself a My Summer Car modder though.
      </p>
      <h2>My projects</h2>
      <ul style="margin-top: 1em;">
        <li>
          <a href="/project/akabot"><strong>Akabot</strong></a> also known as FemboyBot, is a bot that I made with lots of features, including Anti Raid, Chat Revive, Chat Streaks, Chat Summary, Feedback Commands, Leveling, Logging, Moderation, Polls, Reaction Roles, Settings
          and Welcoming. It's used on my server.
        </li>
        <li><a href="/project/astolfoforge"><strong>Astolfo Forge Mod</strong></a> is a Minecraft mod adds a lot of femboys and trans girls into Minecraft. This mod doesn't add NSFW but it adds a few fun commands to mess around with.</li>
        <li><a href="/project/astolfos"><strong>AstolfOS</strong></a> is a script that modifies your Linux distribution to make it more Astolfo like.</li>
        <li><a href="/project/astolfoiscomingforyou"><strong>Astolfo is coming for you</strong></a> is a <strike>virus</strike> program that makes Astolfo come to your house. Two variants are available, a friendly variant and an unfriendly variant.</li>
      </ul>
      <h2>My My Summer Car mods</h2>
      <ul>
        <li><a href="/project/regplatechanger"><strong>Reg Plate Changer</strong></a> is a mod that allows you to changer your registration plates.</li>
        <li><a href="/project/waterbills"><strong>Water Bills</strong></a> adds water bills alongside electricity and phone bills.</li>
        <li><a href="/project/highwaycarbreakdowns"><strong>Highway Car Breakdowns</strong></a> adds car breakdowns on the highway, adding a new way to earn money.</li>
        <li><a href="/project/owoifier"><strong>OwOifier</strong></a> is a joke mod that owoifies the game's text. Everything, including the mod loader and any texts in mods.</li>
        <li><a href="/project/lgbtqprideflags"><strong>LGBTQ Pride Flags</strong></a> adds pride flags and allows you to make custom ones.</li>
        <li><a href="/project/pridemod"><strong>Pride Mod</strong></a> adds pride in general to My Summer Car.</li>
        <li><a href="/project/asphaltroads"><strong>Asphalt Roads</strong></a> is a mod that adds asphalt roads to the game.</li>
        <li><a href="/project/msctweaks"><strong>MSC Tweaks</strong></a> adds a few tweaks to slightly change your gameplay.</li>
        <li><a href="/project/goodoldmsc"></a><strong>Good Old MSC</strong></a> reverts My Summer Car into its older version.</li>
      </ul>
      More may appear here if things get added or I get ideas of what to put here.
      <h2>My history</h2>
      <p>
        <a href="/history"> If you want to get in detail of my past, you can read more about that here. </a>
      </p>

      <h2>Follow me on Nekoweb</h2>
      <iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>

      <details>
        <summary>Buttons :3</summary>
        <h2>My button</h2>
        <h3>My button</h3>
        You can add my button on your website. Please link back when you do so.
        <img src="/button.gif" alt="88x31 button" />

        <h3>Buttons</h3>
        <a href="https://districts.nekoweb.org/">
          <img src="/buttons/districts.png" alt="88x31 button" />
        </a>
      </details>

      <details>
        <summary>Webrings</summary>
        <h2>Webrings</h2>
        <script is:inline src="https://transring.neocities.org/ring.js"></script>
        <div id="nekowebring">
          <script is:inline type="text/javascript" src="https://webring.nekoweb.org/onionring-variables.js"></script>
          <script is:inline type="text/javascript" src="https://webring.nekoweb.org/onionring-widget.js"></script>
        </div>
      </details>

      <a href="https://baccyflap.com/noai/?prv&s=AKA" target="_top" style="float:left">← prev</a>
      <a href="https://baccyflap.com/noai" target="_blank">no ai webring</a>
      <a style="font-size:60%" href="https://baccyflap.com/noai/?rnd" target="_top">(random)</a>
      <a href="https://baccyflap.com/noai/?nxt&s=AKA" target="_top" style="float:right">next →</a>

      <iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=Akatsuki's website"></iframe>
    </main>

    <Footer />
  </body>
</html>
