---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
import indexing from "@components/new_index.json";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="Search Nekoweb"
            description="Search the entirety of Nekoweb, including all website's content."
        />
        <Scripts />
        <Cursor />
    </head>

    <body>
        <Header />
        <main>
            <h1>Nekoweb Search</h1>
            <p>
                Search all websites, including all content, instantly. The
                website index was last updated 2024/05/07. I plan to reindex
                this every month.
            </p>
            <p id="searchResultStatus"></p>
            <label for="search">Search:</label>
            <input type="text" id="search" />

            <div id="searchResults"></div>

            <script is:inline define:vars={{ indexing }}>
                function shortenString(string, limit) {
                    if (string.length <= limit) {
                        return string;
                    }

                    let shortenedString = "";
                    let currentLength = 0;
                    const words = string.split(" ");

                    for (let i = 0; i < words.length; i++) {
                        const word = words[i];
                        const wordLength = word.length;

                        if (currentLength + wordLength <= limit) {
                            shortenedString += word + " ";
                            currentLength += wordLength + 1; // Add 1 for the space
                        } else {
                            break;
                        }
                    }

                    return shortenedString.trim() + "...";
                }

                /** @type {HTMLInputElement} */
                let searchInput = document.getElementById("search");
                /** @type {HTMLDivElement} */
                let searchResults = document.getElementById("searchResults");
                /** @type {HTMLParagraphElement} */
                let searchResultStatus =
                    document.getElementById("searchResultStatus");
                searchInput.oninput = function search() {
                    console.log("Search: " + searchInput.value);
                    searchResults.innerHTML = "";

                    let items = 0;

                    for (const item of indexing) {
                        if (items > 10) {
                            break;
                        }
                        if (item.title == null) {
                            item.title = "Untitled";
                        }
                        if (
                            item.title
                                .toLowerCase()
                                .includes(searchInput.value.toLowerCase()) ||
                            item.body
                                .toLowerCase()
                                .includes(searchInput.value.toLowerCase())
                        ) {
                            let el = document.createElement("div");

                            let title = document.createElement("h2");
                            el.appendChild(title);

                            let titleLink = document.createElement("a");
                            titleLink.href = item.url;
                            titleLink.innerText = item.title;
                            title.appendChild(titleLink);

                            let shortDesc = document.createElement("p");
                            shortDesc.innerText = shortenString(item.body, 250);
                            el.appendChild(shortDesc);

                            searchResults.appendChild(el);

                            items++;
                        }
                    }

                    if (items === 0) {
                        searchResultStatus.textContent = "No results found.";
                    } else if (items === 1) {
                        searchResultStatus.textContent = "1 result found.";
                    } else {
                        searchResultStatus.textContent = `${items} results found. ${items > 10 ? "Some results have been hidden to improve performance." : ""}`;
                    }
                };
            </script>
        </main>
        <Footer />
    </body>
</html>
