---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import projectStyles from "@styles/projectList.module.css";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      name="Socials"
      description="List of Akatsuki's social accounts"
      tag="my summer car,my summer car mods,socials,social"
    />
    <Ads />

    <style>
      div {
        display: flex;
        flex-wrap: wrap;
      }

      a {
        text-decoration: none;
        margin: 2px;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <h1>Akatsuki's socials</h1>
      <p>This is a list of Akatsuki's social accounts.</p>
      <div>
        <a href="/discord">
          <button>
            <h3>Discord server</h3>
          </button>
        </a>
        <a href="https://youtube.com/@akatsuki2555">
          <button>
            <h3>YouTube</h3>
          </button>
        </a>
        <a href="https://tiktok.com/@mldkyt">
          <button>
            <h3>TikTok</h3>
          </button>
        </a>
        <a href="https://twitch.tv/akatsuki2555">
          <button>
            <h3>Twitch</h3>
          </button>
        </a>
        <a href="https://twitter.com/akatsuki2555">
          <button>
            <h3>Twitter</h3>
          </button>
        </a>
        <a href="https://reddit.com/u/Akatsuki230">
          <button>
            <h3>Reddit</h3>
          </button>
        </a>
        <a href="https://instagram.com/akatsuki.230">
          <button>
            <h3>Instagram</h3>
          </button>
        </a>
        <a href="https://next.nexusmods.com/profile/Akatsuki2555/about-me">
          <button>
            <h3>NexusMods</h3>
          </button>
        </a>
      </div>
    </main>

    <Footer />
  </body>
</html>
