---
import Cursor from "@components/cursor.astro";
import Meta from "@components/meta.astro";


---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Suggestions" description="Suggest things to Akatsuki." />
    <meta
      http-equiv="refresh"
      content="0; url=https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAfkTJ5FUOTRSTTBDMVU2NzRKUFhUUUMxNTJaRkJaTC4u"
    />
    <Cursor />
  </head>

  <body>
    <h1>
      Redirecting, if it didn't happen, click <a
        href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAfkTJ5FUOTRSTTBDMVU2NzRKUFhUUUMxNTJaRkJaTC4u"
        >here</a
      >
    </h1>
  </body>
</html>
