---
import "@styles/global.module.css";
export const name = "The Beginning";
export const description = "Where Akatsuki started.";
export const date = "2019-11-26";

import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Scripts from "@components/scripts.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="The Beginning"
            description="Where Akatsuki started."
            tag=""
        />
        <Scripts />
        <Cursor />
    </head>
    <body>
        <Header />
        <main>
            <h1>The Beginning</h1>
            <p>Hi and welcome to the "first ever" blog post on the website.</p>
            <p>I wrote these blog posts to fill up my website with blog posts which you can read to discover my content a little bit more.</p>
            <p>On this day, I started my YouTube channel. This is my first ever contribution to the internet. I decided to make and upload a YouTube video about Helmet and Rally cars, which were added at that time.</p>
            <p>I didn't know what I was going into, so the video is edited the casual way how I edited videos back in the day. I didn't take any inspiration from any other creator at that time.</p>
            <p>I also re-uploaded all my old videos from like 2018 which I edited but never uploaded. Those include the few videos after the Helmet and Rally cars video. They are noticeable because they are recorded in an old version of My Summer Car.</p>
        </main>
        <Footer />
    </body>
</html>
