---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      name=""
      description=""
    />
    <Ads />
  </head>

  <body>
    <Header />
    <main>
      <h1></h1>
    </main>
    <Footer />
  </body>
</html>
