

<p>
    <input type="checkbox" name="enablecursor" id="enablecursor">
    <label for="enablecursor">Enable Cursor Effects <i>(thank you <a href="https://bee.nekoweb.org">bee</a> for allowing me to steal this)</i></label>
</p>
