---
const currentYear = new Date().getFullYear();

const allPages = await Astro.glob("../pages/**/*.astro");

---


<footer>
    <p>Copyright ©️ {currentYear} アカツキ</p>
    <p>You can e-mail her at <a href="mailto:akatsuki2555@waifu.club">akatsuki2555@waifu.club</a></p>
    <p><a href="/sitemap">This website has {allPages.length} pages! Click on this link for sitemap :3</a></p>
</footer>