---
import searchStyles from '@styles/search.module.css';
---

<header>

  <style>
    #headerImage {
      height: 150px;
      background-image: url(/misc/menherasuma/1.webp);
      background-position: center;
      background-size: cover;
    }

    #headerImage > div {
      height: 150px;
      background-image: linear-gradient(to bottom, rgb(44, 44, 44), transparent 40%, rgb(44, 44, 44) 100%);
    }

    #headerImage h2 {
      font-size: 2em;
      position: relative;
      left: 25px;
      top: 25px;
      text-shadow: 2px 2px 2px #000;
    }

    #headerImage p {
      position: relative;
      left: 25px;
      top: 20px;
      text-shadow: 2px 2px 2px #000;
    }
  </style>
  <div id="headerImage">
    <div>
      <h2>Akatsuki's website!</h2>
      <p>Welcome to Akatsuki's website!</p>
    </div>
  </div>
  <script is:inline>
    const imageLinks = [
      '/project/asphaltroads/1.webp',
      '/project/astolfoforge/armor.webp',
      '/project/astolfoforge/astolfoflower.webp',
      '/project/astolfoforge/biome.webp',
      '/project/astolfoforge/casual.webp',
      '/project/astolfoforge/crowd.webp',
      '/project/astolfoforge/schoolgirl.webp',
      '/project/astolforesourcepack/ending.webp',
      '/project/astolforesourcepack/loading.webp',
      '/project/astolforesourcepack/menu.webp',
      '/project/astolfos/desktop.webp',
      '/project/astolfos/neofetch.webp',
      '/project/astolfos/settings.webp',
      '/project/highwaycarbreakdowns/1.webp',
      '/project/highwaycarbreakdowns/2.webp',
      '/project/highwaycarbreakdowns/3.webp',
      '/project/highwaycarbreakdowns/4.webp',
      '/project/highwaycarbreakdowns/5.webp',
      '/project/msclgbtprideflags/1.webp',
      '/project/msctweaks/1.webp',
      '/project/oldcarsounds/1.webp',
      '/project/oldferndale/1.webp',
      '/project/oldhayosiko/1.webp',
      '/project/oldkekmet/1.webp',
      '/project/oldkekmet/2.webp',
      '/project/oldkekmet/3.webp',
      '/project/oldtrucksounds/1.webp',
      '/project/regplatechanger/1.webp',
      '/project/velkonya/0.webp',
      '/project/velkonya/1.webp',
      '/project/velkonya/2.webp',
      '/project/velkonya/3.webp',
      '/project/velkonya/4.webp',
      '/project/velkonya/5.webp',
      '/project/velkonya/6.webp',
      '/project/velkonya/7.webp',
      '/project/velkonya/8.webp',
      '/project/velkonya/9.webp',
      '/project/waterbills/header.webp',
      '/project/oldhighwaycars/1.webp',
      '/project/oldhighwaycars/2.webp',
      '/project/oldhighwaycars/3.webp'
    ];
    const imageLink = imageLinks[Math.floor(Math.random() * imageLinks.length)];
    $("#headerImage").css("background-image", `url(${imageLink})`);
  </script>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/neko">Nekoweb Projects</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/socials">Socials</a></li>
      <li><a href="/misc">Miscellaneous</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/suggestion">Suggest/Feedback</a></li>
    </ul>
  </nav>
</header>
