---
import "@styles/global.module.css";
export const name = "First MSC Mod";
export const description = "The first ever My Summer Car mod by Akatsuki, OldCarSounds.";
export const date = "2021-12-31";

import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Scripts from "@components/scripts.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="First MSC Mod"
            description="The first ever My Summer Car mod by Akatsuki, OldCarSounds."
        />
        <Scripts />
        <Cursor />
    </head>
    <body>
        <Header />
        <main>
            <h1>First Mod Release</h1>
            <p>On this day, the first version of Old Car Sounds was released on NexusMods for download.</p>
            <p>This mod reverts the sound of the car to the old versions of My Summer Car and attempts to generate the old sounds.</p>
        </main>
        <Footer />
    </body>
</html>
