---
import Cursor from "@components/cursor.astro";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import Meta from "@components/meta.astro";
import Scripts from "@components/scripts.astro";
import "@styles/global.module.css";

export const name = "New domain";
export const description = "Akatsuki's new domain";
export const date = "2024-04-28";
---

<!doctype html>
<html lang="en">
    <head>
        <Meta
            name="New domain"
            description="Akatsuki's new domain"
            tag="akatsuki.nekoweb.org, domain switch, brand identity, top-notch content, website update, innovative, dynamic vibe, fresh, exciting journey, evolving brand, easy to remember, shareable, website migration, sleek domain, user-friendly, bookmark update, website announcement, web presence, memorable URL, online presence"
        />
        <Scripts />
    <Cursor />
</head>
    <body>
        <Header />
        <main>
            <div>
                <h2>🌟 Exciting News! 🌟</h2>
                <p>
                    Big changes are happening on my website! We've moved to a
                    sleek, new domain: <a href="https://akatsuki.nekoweb.org"
                        >akatsuki.nekoweb.org</a
                    >. Say goodbye to the old <a
                        href="https://akatsuki.codeberg.page"
                        >akatsuki.codeberg.page</a
                    > and embrace the fresh, dynamic vibe of our new home!
                </p>
                <p>
                    Why the switch? Simple. The new domain rolls off the tongue
                    effortlessly, making it easier for visitors to remember and
                    share. Plus, it aligns perfectly with our evolving brand
                    identity.
                </p>
                <p>
                    Join us on this exciting journey as we continue to innovate
                    and provide top-notch content. Update your bookmarks and
                    spread the word about our new domain, because the best is
                    yet to come at <a href="https://akatsuki.nekoweb.org"
                        >akatsuki.nekoweb.org</a
                    >! 🚀
                </p>
            </div>
        </main>
        <Footer />
    </body>
</html>
