---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta name="Meshsave" description="Meshsave abomination for My Summer Car"  />
    <title>Akatsuki's meshsave download</title>

    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Akatsuki's meshsave download</h1>
      <p>
        Here you can download the abomination of a meshsave that Akatsuki has.
      </p>
      <img src="/misc/meshsave/1.webp" alt="Meshsave preview 1" />
      <br>
      <img src="/misc/meshsave/2.webp" alt="Meshsave preview 2" />
      <br>
      <img src="/misc/meshsave/3.webp" alt="Meshsave preview 3" />
      <br>
      <img src="/misc/meshsave/4.webp" alt="Meshsave preview 4" />
      <br>
      <a href="/misc/meshsave/meshsave.txt" download>
        <button>Download NOW!</button>
      </a>
    </main>
    <Footer />
  </body>
</html>
