---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Now page changer</h1>

      <textarea name="text" id="text"></textarea>

      <br>
      <button id="save">save</button>
      <script is:inline>
        $("#save").click(function () {
            const json = {"date": new Date().toISOString(), "text": $("#text").val()};
            const blob = new Blob([JSON.stringify(json, null, 2)], {type: "application/json"});

            const formData = new FormData();
            formData.append("pathname", "/dyn/");
            formData.append("files", blob, "now.json");

            fetch("nekoweb.org/api/files/upload", {
                method: "POST",
                headers: {
                    "Authorization": localStorage.getItem("nekowebToken")
                },
                body: formData
            }).then(function (response) {
                if (response.status == 200) {
                    alert("Saved!");
                } else {
                    alert("Failed to save!");
                }
            })
        })
      </script>
    </main>
    <Footer />
  </body>
</html>
